//Variables

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900,700);
html {
  font-size: 16px;
}

@blanco: #fff;
@white: var(--white,#fff);
@negro: #000;
@black: var(--black,#000);


///Colores web
@pcolor: var(--pcolor, @first-color); //00ccbc
@scolor: var(--scolor, @second-color); //#2e3333
@tcolor: var(--tcolor, @third-color); //#4d7c1b
@ccolor: var(--ccolor, @fourth-color); //#e2e5e5
@qcolor: var(--qcolor, @fifth-color); //#cc3a2f


////// 
//Colores
:root{
    --pcolor: #00ccbc;//@first-color
    --scolor: #2e3333;//@second-color --> negro/gris
    --tcolor: #4d7c1b;//@third-color --> verde valoraciones
    --ccolor: #e2e5e5;//@fourth-color --> gris claro
    --qcolor: #cc3a2f;//@fifth-color --> rojo
    --blanco:#fff;
    --white:#fff;
    --negro:#000;
    --black:#000;
}

.container-formulario{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 64px 16px;
    h1{
        // ont-family: plex-sans,sans-serif;
        font-size: 22px;
        line-height: 28px;
        font-weight: 700;
        margin: 0;

    }
    form{
        display: flex;
        flex-wrap: wrap;

        input{
            font-size: 16px;
            line-height: 24px;
            caret-color: #00ccbc;
            padding: 12px 16px;
            border: 1px solid #e8ebeb;
            border-radius: 4px;
            flex: 1;
            width: 100%;
            box-shadow: inset 0 2px 4px rgba(0,0,0,.05), inset 0 0 0 100px #fff;
    
        }
        label{
            display: block;
            font-size: 16px;
            line-height: 22px;
            width: 100%;
            padding-bottom: 8px;
            padding-top: 16px;

            
        }
        .mensaje-error{
            margin: 5px 0px 0px 0px;
            width: 100%;
            color: red;
        }
        .password-criteria-messaging{
            font-size: 14px;
            line-height: 19px;  
            color: #585c5c;
            font-weight: 400;
        }
    }
    
}
a{
    color: #00b8a9!important;
    text-decoration: none!important;
}
.container-btn{
    width: 100%;
    padding-top: 15px;
    .btn-azul{
        color: #fff;
        background: #00ccbc;
        transition-property: box-shadow,-webkit-box-shadow;
        transition-duration: .15s;
        transition-timing-function: ease-out;
        min-height: 48px;
        padding: 12px 24px;
        border: none;
        border-radius: 4px;
        font-weight: 600;
        cursor: pointer;
        width: 100%;
        font-size: 16px;


    }
}



.container-formulario{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 64px 16px;
    h1{
        // ont-family: plex-sans,sans-serif;
        font-size: 22px;
        line-height: 28px;
        font-weight: 700;
        margin: 0;

    }
    form{
        display: flex;
        flex-wrap: wrap;

        input{
            font-size: 16px;
            line-height: 24px;
            caret-color: #00ccbc;
            padding: 12px 16px;
            border: 1px solid #e8ebeb;
            border-radius: 4px;
            flex: 1;
            width: 100%;
            box-shadow: inset 0 2px 4px rgba(0,0,0,.05), inset 0 0 0 100px #fff;
    
        }
        label{
            display: block;
            font-size: 16px;
            line-height: 22px;
            width: 100%;
            padding-bottom: 8px;
            padding-top: 16px;

            
        }
        .mensaje-error{
            margin: 5px 0px 0px 0px;
            width: 100%;
            color: red;
        }
        .password-criteria-messaging{
            font-size: 14px;
            line-height: 19px;  
            color: #585c5c;
            font-weight: 400;
        }
    }
    
}
a{
    color: #00b8a9;
    text-decoration: underline;
}
.container-btn{
    width: 100%;
    padding-top: 15px;
    .btn-azul{
        color: #fff;
        background: #00ccbc;
        transition-property: box-shadow,-webkit-box-shadow;
        transition-duration: .15s;
        transition-timing-function: ease-out;
        min-height: 48px;
        padding: 12px 24px;
        border: none;
        border-radius: 4px;
        font-weight: 600;
        cursor: pointer;
        width: 100%;
        font-size: 16px;


    }
}

//ESTILOS HEADER

body{
    padding:0px 64px;
}

.menu{
    border-bottom:1px solid #e8ebeb;
    
    .navbar{
        margin-bottom:0px;
        width: 100%;

    }
    .menu-p{
        gap:50px;
        &:after{
            display:none;
        }
    }
}
.menu-negro{
    background-color: black;
    border-bottom:1px solid black;

}

.logo-img{
    max-width: 120px;
}


.buscador-inicio{
    background-color:#0000000a ;
    width:600px;
    border:1px solid #e8ebeb;
    height:46px;
    border-radius:4px;
}


.btn-menu{
    display:flex;
    gap:15px;
    margin-right: 30px;
    .opt{
        border-radius:4px;
        border:1px solid #e8ebeb;
        background: white;
        padding:8px 16px;
        height: 40px;
        i{
            color: #00ccbc;
        }
        span{
            color:#2e3333;
        }
    }
}

.content-inicio{
    display:flex;
}
.content-inicio{
    display:flex;
}
.col-opt{
    width:20%;
}
.col-results{
    width:80%;
}

.region-header{
    background-image: url('img/fondo_principal.svg');
    padding-left: 25%;
    padding-right: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin: 0;
    position: relative;
    z-index: 2;
    background-color: #000000;
    text-align: left;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 0;

    h1{
        color: #fff;
        font-size: 40px;
        line-height: 48px;    
        font-weight: 600;
        margin: 0;    
        padding-bottom: 32px;
        text-align: center;


    }
    
    .container-header{
        text-align: center;
        width: 664px;
        margin: auto;
        p{
            color: #fff;
            font-size: 16px;
            line-height: 19px;    
            font-weight: 400;

        }
        .search-principal{
            border: 1px solid rgba(0,0,0,.08);
            -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.08);
            box-shadow: 0 2px 6px rgba(0,0,0,.08);
            border-radius: 100px!important;
            padding-left: 48px;
            height: 64px;
            padding-right: 40px;
            margin: 0;
            background-color: white;
            padding-right: 0px;

            input{
                height: 100%;
                border: none;
            }
            button{
                color: #fff;
                background: #00ccbc;
                border-radius: 100px;
                padding: 16px 40px;
                min-height: 56px;
                border: 2px solid white;
                border-top-left-radius: inherit!important;
                border-bottom-left-radius: inherit!important;
                width: 142px;
                font-size: 16px;
                font-weight: 800;

            }
        }
    }
}

.region-carrousell{
    margin-top: -48px;
    .container-carrousell{
        margin: 0px;
        padding: 0px!important;
        .owl-stage-outer{
            overflow: unset;
            .owl-stage{
                .owl-item{
                    width: auto!important;

                    img{
                        height: 120px;
                        border-radius: 8px;

                    }
                    .img-peq{
                        width: 120px;
                    }
                    .img-gram{
                        width: 240px;
                    }
                }
            }
        }
    }
}
